streamlit
librosa
matplotlib
seaborn
pandas
numpy
soundfile
joblib
tensorflow==2.11.0
# streamlit_audio_recorder는 문제가 될 수 있음. 아래 줄로 대체하세요:
streamlit-audiorec @ git+https://github.com/stefanrmmr/streamlit_audio_recorder.git
